:root {
    --white: #e1e0f7;
    --green: #1ab28a;
    --yellow: #fbbe4f;
    --light-blue: #bff5fd;
    --medium-blue: #4a62d8;
    --blue: #113ccf;
    --dark-blue: #1e2c4f;
    --grad-start: #f9c2eb;
    --grad-end: #a8c2ee;
    --light-pink: #c59fc9;
    --dark-pink: #746bab;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

/* Fonts */
.mouse-memoirs-regular {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}